.countryBox
{
    display: grid;
    border-radius: 5px 5px 5px 5px;
    width: 70vw;
    justify-self: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.flag
{
        border-radius: 5px 5px 0px 0px;
        width:inherit ;
}
.name
{
    padding-inline: .7em;
margin-top: .7em;
}
.datas
{
    padding: 1em;
font-weight: 600;
}